@model EduApply.Web.Models.ProgramCoursePreviewModel

<div class="container">
    <hr/>
    <h4>Program / Course of study</h4>
    <hr />
    <div class="col-md-6"><p><strong>Program: </strong> @Model.Program</p></div>
    <div class="col-md-6"><p><strong>Course: </strong> @Model.Course</p></div>

</div>
