@{
    ViewBag.Title = "Alert";
    Layout = "~/Views/Shared/_PlainLayout.cshtml";
}

<h2>Alert</h2>
<div class="alert alert-danger">
    @ViewBag.message
</div>
@Html.ActionLink("Ok", "Index", "Home", null, new { @class = "btn btn-default" })

