
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/ApplicationLayout.cshtml";
}

<h2>Success</h2>
<div class="alert alert-success">
    @ViewBag.message
</div>
@Html.ActionLink("OK", "Login", "Account", null, new { @class = "btn btn-default" })
