<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\EduApply.Logic\packages.config" />
  <repository path="..\EduApply.Web\packages.config" />
  <repository path="..\src\EduApply.Logic\packages.config" />
  <repository path="..\src\EduApply.Web\packages.config" />
</repositories>