@model IEnumerable<EduApply.Data.Entities.Reference>
@{
    ViewBag.Title = "Add Reference";
    Layout = "~/Views/Shared/ApplicationLayout.cshtml";
}
<div class="container">
    @Html.Partial("_Reference", Model)
</div>