
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_PlainLayout.cshtml";
}

<h2>Info</h2>
<div class="alert alert-info">
    @ViewBag.message
</div>
@Html.ActionLink("OK", "Login", "Account", null, new { @class = "btn btn-default" })

