@model Boolean
<div class="container">
    <hr/>
    <h4>Admission Status</h4>
    <hr />
    @if (Model)
    {
        <p><strong> Admitted</strong> </p>
    }
    else
    {
        <p><strong> Not admitted </strong> </p>
    }
</div>