@model EduApply.Data.Entities.Picture
<div class="container">
    <hr/>
    <h4>Passport</h4>
    <hr/>
    <div class="col-md-3">
        <img src="~/images/StudentPassport/@Model.Name" alt="Applicant Passport" width="200" height="200" />
    </div>
    <div class="row"></div>
</div>