.body-image {
     background: #fff url(../images/pattern-1.png) top left repeat;
}
.margin {
    margin:50px;    
    padding:20px;
    background-color:white;
   
}
.margin-top {
margin-top:40px;
}

/* user image section */
.user-section {
   padding-top:20px;
    font-size:18px;
    background-color:#4B4B4D;
    padding-bottom:20px;
        
}

.user-section-inner {
/*height: 65px;
width: 65px;*/
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 1px;
overflow: hidden;
display: inline-block;
float: left;
margin-right: 15px;
margin-top: 20px;

}
    .user-section-inner img {
        margin-left:10px;
        width:55px;
        height:60px;
        
    }
.user-info {
    display: block;
    color:#fff!important;
display: inline-block;
padding: 15px;
margin-bottom: 0px
}
.user-text-online {
    font-size:13px;
    color:#fff
}
.user-circle-online {
    width: 15px!important;
    height: 15px!important;
}

/* F-menu section */


.navbar-default .navbar-nav > li > a {
  color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(113, 159, 241);
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}

.nav > li > a:hover, .nav > li > a:focus > a:active {
    background-color:#E6E7E8;      
}
/*Navv for sidebar */

.navv {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navv > li {
  position: relative;
  display: block;
}
.navv > li > a {
  position: relative;
  display: block;
  padding: 22px 15px;
}
.navv > li > a:hover,
.navv > li > a:focus,
 .navv > li > a:active{
  text-decoration: none;
  background-color: #000;
}
.navv > li.disabled > a {
  color: #777;
}
.navv > li.disabled > a:hover,
.navv > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.navv .open > a,
.navv .open > a:hover,
.navv .open > a:focus, 
.navv .open > a:visited {
  background-color: #000;
  border-color: #000;
}
.navv .navv-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.navv > li > a > img {
  max-width: none;
}
.navbar-top-links > li > a {
color: #000;
}
.nav > li > a {
/*padding: 20px 15px;*/
 }



#side-menu {
    background-color:#2e2d2d;
    width: 300px;
   height:1800px;
   font-size:18px;
 
}

 #side-menu a {
            color:#ccc;
           border-bottom: 0.5px solid #fff !important;
           height: 70px;
         vertical-align: central;
        }

  #side-menu li a.current {
            color:white;
            font:bold;
            background-color:black;
         
        }



/* back colors */
.panel-primary > .panel-heading {
color: #333;
  background-color: #BDBFC1;
  border-color: #BDBFC1;

}


        .blue {
          
              background-color:rgb(113, 159, 241);
        }
         .green {
            background-color:rgb(144, 236, 192);
        }
          .red {
            background-color:rgb(255, 102, 133);
        }
        .yellow {
            background-color:rgb(237, 253, 46);
        }

  /* No border */
.no-boder {
    border:0px solid #5bc0de !important;
}
/* tap nvbar Section */

.navbar {
   
    height:70px;
   /*background: #D2D3D5 url(../images/pattern-1.png) top left repeat;*/
}

.navbar-brand {
    padding-left:20px;
     color:#fff;
     height:70px;
     width:300px;
   background: #5CA47A;
}

.navbar .navbar-brand > .active > a,
.navbar .navbar-brand > .active > a:hover,
.navbar .navbar-brand > .active > a:focus {
  color: #fff;
  background-color: #5CA47A;
}

.navbar-brand img {
    height:50px;
   
}
.top-label {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -24px;
    margin-right: -24px;
}
.logoff-btn-sm{
  padding: 0px 0px 0px 0px;
  margin-top: 8px;
  height: 55px;
 width: 100px;
  color:#fff !important;
  
}

/*large font*/
.large-font {
    font-size:18px;
}

.body-Login-back {
    background-color:#84B899;
}

.margin-tips {
    margin:5px;
}

/*media queries*/

@media(min-width:768px) 
{
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 60px;
        min-height: 1000px;
       
       
    }

}

@media(max-width:768px) {
#wrapper {
    margin-top:140px!important;
    
}
}
.color-grey {
background-color:#BDBFC1;
}