body {
    background-color: #fff;
    /*background: #fff url(../images/pattern-1.png) top left repeat;*/
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 15px;
    color:black;
    padding-top: 0px;
    overflow-x: hidden;
    height: 100%;
}

footer {
text-align:center;
}
.banner {
    height:60px;
}
title {
    color:black;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(113, 159, 241);
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
/* TOGGLE */


.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    background-color: #fff;
    background: #fff url(../images/pattern-1.png) top left repeat;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
/*.navbar-default .navbar-nav > li > a {
  color: #fff;
}*/
/*NAVBAR_INVERSE*/

.navbar-inverse{
    background-color: #5CA47A;
    border:  #5CA47A;
    color:#fff;
    height: 100px;    
    background: #5CA47A url(../images/pattern-1.png) top left repeat;
}


.navbar-inverse .navbar-nav > li > a  {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus   {
  color: #BDBFC1;
  background-color: transparent;
}



.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  /*color: #0098DA;
  background-color: transparent;*/
}


.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 15px;
}

.navbar-custom {
background-color: #5CA47A;
color:#000;
height: 90px;
}

/*Navv for sidebar */

.navv {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navv > li {
  position: relative;
  display: block;
}
.navv > li > a {
  position: relative;
  display: block;
  padding: 22px 15px;
}
.navv > li > a:hover,
.navv > li > a:focus,
 .navv > li > a:active{
  text-decoration: none;
  background-color: #000;
}
.navv > li.disabled > a {
  color: #777;
}
.navv > li.disabled > a:hover,
.navv > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.navv .open > a,
.navv .open > a:hover,
.navv .open > a:focus, 
.navv .open > a:visited {
  background-color: #000;
  border-color: #000;
}
.navv .navv-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.navv > li > a > img {
  max-width: none;
}

/*SIDE_MENU*/

#side-menu {
    background-color:#2e2d2d;
    width: 280px;
   height:1800px;
   font-size:18px;
 
}

 #side-menu a {
            color:#ccc;
           border-bottom: 1px solid #ccc !important;
           height: 70px;
         vertical-align: central;
        }

  #side-menu li a.current {
            color:white;
            background-color:black;
         
        }

  .panel-primary > .panel-heading {
color: #333;
  background-color: #BDBFC1;
  border-color: #BDBFC1;

}



.push {
padding-top:10px;
padding-right:8px;

}

.navbar-brand {
    padding-left:20px;
     color:#fff;
     height:70px;
     width:280px;
   background: #5CA47A;
}

.navbar .navbar-brand > .active > a,
.navbar .navbar-brand > .active > a:hover,
.navbar .navbar-brand > .active > a:focus {
  color: #fff;
  background-color: #5CA47A;
}

.navbar-brand img {
    height:50px;
   
}
.navbar-brand img {
    height:50px;
  }
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-header {
font-size:larger;
}
.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 20px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
    
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    /*padding: 3px 20px;*/
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
side
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-color: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}


a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}



.border {
    padding-left: 40px;
    padding-right: 90px;
    padding-top:10px;
}

.container-fluid {
    padding-top:0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top:0px;
  margin-right: auto;
  margin-left: auto;
  
}
 body.login-wrapper {
    background: #a94442;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
	
    }
 .hero_section {
    position: relative;
    padding-top: 72px;
}

 .thin-line{
    background-color:#336600;
    height:80px;
    background: #336600 url(../images/pattern-1.png) top left repeat;
}

 
 .thin-line-big{
    background-color:#5CA47A;
    background: #5CA47A url(../images/pattern-1.png) top left repeat;
    height:70px;
    
}
  .top_cont_outer {
      position: relative;
	color:white;
    background: url(../images/pattern-1.png) top left repeat;
	min-height:550px;
    max-height: 850px;
 }
.top-label {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -24px;
    margin-right: -24px;
}
  .cont_image {
   	color:white;
    background: #336600 url(../images/img1.png) no-repeat;
	min-height:550px;
    max-height: 850px;
}

.boundary {
background-color:#f5f5f5;
padding:20px;
padding-bottom:5px;
color:black;
margin-top:30px;
background: #f5f5f5 url(../images/pattern-1.png) top left repeat;

}
.form-boundary {
background-color:#fff;
padding:20px;

color:black;
/*margin-top:30px;*/

}
.navbar-top-links > li > a {
color: #000;
}
.login-wrapper {
    width: 100%;
    max-width: 350px;
    color: white;
}
.white-bg {
    background-color:white;
}
.row {
padding:0px;
margin:20px;
margin-left: 0px;
}

.left-sidebar {

padding: 0px;
height:360px;
}
.color-grey {
background-color:#BDBFC1;
}
.panel-primary {
  border-color: #ccc;
}
.blue { color:blue;}
.green {color:green;}
.pink { color:lightpink;}
.aqua { color:aqua;}
.red { color:coral}
.custom-hide
{
    visibility: hidden;
}

.custom-hide-none
{
    display: none;
}
/* Set padding to keep content from hitting the edges */
.body-content
{
    /*padding-top: 20px;*/
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sidebar
{
    position: fixed;
    top: 101px;
    width:200px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    /*padding: 20px;*/
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ECF3E5;
    border-right: 1px solid #eee;
    
}
    a{
  color: #428bca;
  text-decoration: none;
}
    .sidebar > li > a {
    /*margin-top:30px;
       background-color:#5ca47a;*/
     font-weight:bold;
     font-size: 18px;
     color: #555;
         }
   
     .sidebar > .active > a, 
     .sidebar > .active > a:hover, 
     .sidebar > .active > a:focus
        {
            color: #555;
            background-color: #9DD3AF;
            border-color:#fff;
            font-weight:bold;
            font-size: 18px;
        }


/* user image section */
.user-section {
   padding-top:60px;
    font-size:18px;
    background-color:#4B4B4D;
    padding-bottom:20px;
        
}

.user-section-inner {
/*height: 65px;
width: 65px;*/
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 1px;
overflow: hidden;
display: inline-block;
float: left;
margin-right: 15px;
margin-top: 20px;

}
 .user-section-inner img {
   margin-left:10px;
   width:55px;
   height:60px;
        
    }
.user-info {
    display: block;
    color:#fff!important;
display: inline-block;
padding: 15px;
margin-bottom: 0px
}
.user-text-online {
    font-size:13px;
    color:#fff
}
.user-circle-online {
    width: 15px!important;
    height: 15px!important;
}


/* Sidebar Menu Styles */

.sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 37px;
        background: #333;
    }

    .nav-third-level li a {
        padding-left: 52px;
    }




.ui-datepicker-trigger
{
}

.main
{
    padding-top:20px;
    padding-left: 70px;
}


/*large font*/
.large-font {
    font-size:18px;
}

.body-Login-back {
    background-color:#84B899;
}

.margin {
    margin:50px;    
    padding:20px;
    background-color:white;
   
}
.margin-top {
margin-top:40px;
}

.margin-tips {
    margin:5px;
}
.text-danger-white {
    color: white;
}


  /* No border */
.no-boder {
    border:0px solid #5bc0de !important;
}
    .main .page-header
    {
        margin-top: 140px;
      
    }

/*.nav-sidebar
{
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-top:30px;
}*/

   .page-header {
  padding-bottom: 9px;
  margin: 100px 0 20px;
  border-bottom: 1px solid #eee;
}
.cont-header{
      margin: 100px 0 2px;

}
.nav-tabs > li > a {
    /*background-color: #f5f5f5;*/
}


.nav-tabs > li > a:hover {
    background-color: #E5E6E7;
}
    .nav-sidebar > li > a
    {
        padding-right: 20px;
        padding-left: 20px;
        color:#0098DA;
        border-color:#fff;
    }
/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 25px;
        font-size: 18px;
        line-height: 1.33;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
    }

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}


/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea
{
    max-width: 280px;
}*/
.logoff-btn-sm{
   padding: 0px 20px 20px 20px;
  margin-top: 10px;
  height: 40px;
 
  
}
.custom-disable-textbox
{
    max-width: 400px;
    display: inline;
    background-color: #fff !important;
}
.color-white {
color:white !important;

}

.color-black {
color:black;
}
.white {
   background-color: #fff !important;
}
.size90 {
     max-width: 90%
}
.size92 {
    max-width: 92%
}
.size95 {
    max-width: 95%
}
.block-display {
    display: block;
}

.default-width
{
    max-width: 400px;
}

.bold
{
    font-weight: bold;
}

.validation-summary-errors li
{
    color: red;
}

.required label
{
    font-weight: bold;
}

    .required label:after
    {
        color: #e32;
        content: ' *';
        display: inline;
    }

.input-validation-error
{
    border: 1px solid #f00 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(512, 0, 0, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(512, 0, 0, .6);
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]
{
    margin-left: 0;
}


.ui-datepicker .ui-datepicker-title select
{
    color: #000000;
}

.ui-timepicker-div .ui-widget-header
{
    margin-bottom: 8px;
}

.ui-timepicker-div dl
{
    text-align: left;
}

    .ui-timepicker-div dl dt
    {
        float: left;
        clear: left;
        padding: 0 0 0 5px;
    }

    .ui-timepicker-div dl dd
    {
        margin: 0 10px 10px 40%;
    }

.ui-timepicker-div td
{
    font-size: 90%;
}

.ui-tpicker-grid-label
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}


/*media queries*/

@media(min-width:768px) 
{
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 280px;
        padding: 0 60px;
        min-height: 1000px;
             
    }
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

@media(max-width:768px) {
/*wrapper {
    margin-top:140px!important;
    
}*/
}


@media (max-width: 767px) {
    /*#wrapper {
    margin-top:140px!important;
    
}*/
    .navbar-brand {
        color: #fff;
        padding-top: 20px;
        padding-left: 10px;
        margin-left:0px;
       }
    .navbar-inverse{
      height: 250px;    
      }
    .navbar-right {
    margin-top:0px;
    /*margin-left:17px;*/
    
    }
    /*img.logo {
        display: none;
        padding-left:0px;
    }*/
    .navbar-header {
    
    }
    .app {
    margin-left:70px;
    margin-top:-50px;

    }
    .main {
    
    padding-left:10px;
    }
    .sidebar{
        position:relative;
        width:100%;
        top:0px;
    }
    .border {
    
        padding-right: 20px;
        padding-top:10px;
    }
    .navbar-nav .open .dropdown-menu{
    position:static;
    float:right;
    width:auto;
    margin-top:0;
     background-color:#fff;
    border:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    margin: 2px 0 0;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;

    }
     .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #0098DA;
        background-color: #eee;
        
    }
}


/*@media (min-width: 1200px) {

    
     .container {
    width: 1500px;
  }
}*/

.ui-timepicker-rtl
{
    direction: rtl;
}

    .ui-timepicker-rtl dl
    {
        text-align: right;
        padding: 0 5px 0 0;
    }

        .ui-timepicker-rtl dl dt
        {
            float: right;
            clear: right;
        }

        .ui-timepicker-rtl dl dd
        {
            margin: 0 40% 10px 10px;
        }

        .dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.register {
    max-width: 600px;
}

/*DIV.table 
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
}*/