@model EduApply.Web.Models.EducationalDetailsModel
@{
    ViewBag.Title = "Add Educational Details";
    Layout = "~/Views/Shared/ApplicationLayout.cshtml";
}
<div class="container">
    @Html.Partial("_EducationalDetails", Model)
</div>