@model EduApply.Web.Models.PictureModel

@{
    ViewBag.Title = "Add Passport";
    Layout = "~/Views/Shared/ApplicationLayout.cshtml";
}
<div class="container">
    @Html.Partial("_UploadPassport", Model)
</div>
