@model EduApply.Web.Models.RegNumValidationModel
@{
    ViewBag.Title = "Enter RegNum";
    Layout = "~/Views/Shared/ApplicationLayout.cshtml";
}
<div class="container">
    @Html.Partial("_regNumValidation", Model)
</div>