@model EduApply.Web.Models.PersonalInformationModel
@{
    ViewBag.Title = "Biodata";
    Layout = "~/Views/Shared/ApplicationLayout.cshtml";
}
<div class="container">
    @Html.Partial("_Biodata", Model)
</div>