@model EduApply.Web.Models.OLevelResultDetailsViewModel
@{
    ViewBag.Title = "Add O'Level";
    Layout = "~/Views/Shared/ApplicationLayout.cshtml";
}
<div class="container">
    @Html.Partial("_OLevelResultDetails2", Model)
</div>

<script type="text/javascript">
    $(function () {

        toastr.options =
        {
            "closeButton": false,
            "debug": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    })
</script>

@if (TempData["OLevelSaved"] != null && TempData["OLevelSaved"].ToString() == "Success")
{
    <script type="text/javascript">
        $(function () {
            toastr.success("Result successfully Saved");
        })
    </script>
}