@model EduApply.Web.Models.ApplicantsProgramCourseModel

@{
    ViewBag.Title = "Program Course";
    Layout = "~/Views/Shared/ApplicationLayout.cshtml";
}
<div class="container">
    @Html.Partial("_ProgramCourse", Model)
</div>